.pin-bottom .el-col {
    height: 100%;
    line-height: 50px;
}

.pin-bottom {
    display: flex;
    position: relative;
    margin-top: 1.333rem;
    height: 50px;
    border-top: 1px solid #ebebeb;
}

.look-after-info {
    width: 45%;
    margin: 2px 0;
}

.pin-content-row {
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 1rem 4rem 0 6.45rem;
}

.meta-box {
    display: flex;
    align-items: center;
    margin: .3rem 0 0;
    font-size: 13px;
    color: #8a9aa9;
    cursor: default;
}

.pin-header {
    padding: 16px 2rem 0 20px;
}

.lookAfter-main {
    margin-top: 20px;
    margin-bottom: 6rem;
}

.lookAfter-li {
    background-color: #ffffff;
    margin-bottom: 8px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    list-style: none;
}